<ion-view view-title="Home">
	<ion-content>
		<div class="homeoptions">
			<div class="row">
				<div class="col col-100 text-center text-white">
					<a href="" ng-click="GotoOption('settings');" class="text-white">
						<div class="donate-box" style="background-image: url('./img/siteimgs/donateimg.png');">
							<p class="heading-donate">DONATE KEFIR (GRAINS or CULTURE)</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col col-100 text-center text-white">
					<a href="" ng-click="GotoOption('kefir-request');" class="text-white">
						<div class="donate-box" style="background-image: url('./img/siteimgs/requestblood.png');">
							<p class="heading-donate">REQUEST KEFIR</p>
						</div>
					</a>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
