<ion-view view-title="Kefir Request">
	<ion-content>
        <div class="row">
          <div class="col col-100">
            <form name="kefirRequestForm" ng-submit="submitkefirRequestForm(kefirRequestForm);" novalidate>
				<div class="list list-custom">
					<!-- Input -->
					  <label class="item item-input item-custom item-select">
						<div class="input-label">
						   Country
						</div>
						<select ng-model="userdata.country" name="country" required ng-change="countryChanged();">
						  <option value="" >Select</option>
						  <option ng-repeat="countryname in country_arr" value="{{ countryname }}" >{{ countryname }}</option>
						</select>
					  </label>
					  <p class="error-p" ng-show="kefirRequestForm.country.$error.required && (!kefirRequestForm.country.$pristine || kefirRequestForm.$submitted)">This Field Is Required</p>
					<!--/ Input -->
					<!-- Input -->
					  <label class="item item-input item-custom item-select">
						<div class="input-label">
						   State
						</div>
						<select ng-model="userdata.state" name="state" ng-options="filteredstate as filteredstate for filteredstate in filteredstates " required>
						  <option value="" selected>Select</option>
						</select>
					  </label>
					  <p class="error-p" ng-show="kefirRequestForm.state.$error.required && (!kefirRequestForm.state.$pristine || kefirRequestForm.$submitted)">This Field Is Required</p>
					<!--/ Input -->
					<!-- Input -->
					  <label class="item item-input item-custom">
						<input type="text" placeholder="City" ng-model="userdata.city" name="city" ng-maxlength="15" required>
					  </label>
					  <p class="error-p" ng-show="kefirRequestForm.city.$error.required && (!kefirRequestForm.city.$pristine || kefirRequestForm.$submitted)">This Field Is Required</p>
					<!--/ Input -->
					<!-- Input -->
					  <label class="item item-input item-custom">
						<input type="text" placeholder="Pincode" ng-model="userdata.pincode" name="pincode" ng-maxlength="6" required>
					  </label>
					  <p class="error-p" ng-show="kefirRequestForm.pincode.$error.required && (!kefirRequestForm.pincode.$pristine || kefirRequestForm.$submitted)">This Field Is Required</p>
					  <p class="error-p" ng-show="kefirRequestForm.pincode.$error.maxlength && (!kefirRequestForm.pincode.$pristine || kefirRequestForm.$submitted)">Cannot Longer Than 6 Characters</p>
					<!--/ Input -->	
				</div>
				<button class="button button-custom button-block">
					Submit
				</button>
            </form>
          </div>
       	</div>
    </ion-content>
</ion-view>
