<ion-view view-title="Update Info">
	<ion-content>
		<form name="memberUpdateForm" ng-submit="submitmemberUpdateForm(memberUpdateForm);" novalidate>
			<div class="list list-custom" style="margin-bottom:0px;">
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom">
						<input type="text" placeholder="First Name" ng-model="userdata.first_name" name="first_name" ng-maxlength="15" required>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.first_name.$error.required && (!memberUpdateForm.first_name.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					  <p class="error-p" ng-show="memberUpdateForm.first_name.$error.maxlength && (!memberUpdateForm.first_name.$pristine || memberUpdateForm.$submitted)">Cannot Longer Than 15 Characters</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-model="userdata.first_name_visibiity" name="first_name_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom">
						<input type="text" placeholder="Last Name" ng-model="userdata.last_name" name="last_name" ng-maxlength="15" required>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.last_name.$error.required && (!memberUpdateForm.last_name.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					  <p class="error-p" ng-show="memberUpdateForm.last_name.$error.maxlength && (!memberUpdateForm.last_name.$pristine || memberUpdateForm.$submitted)">Cannot Longer Than 15 Characters</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-model="userdata.last_name_visibiity" name="last_name_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom">
						<input type="email" placeholder="Email" ng-model="userdata.email" name="email" ng-maxlength="30" required>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.email.$error.required && (!memberUpdateForm.email.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					  <p class="error-p" ng-show="memberUpdateForm.email.$error.maxlength && (!memberUpdateForm.email.$pristine || memberUpdateForm.$submitted)">Cannot Longer Than 30 Characters</p>
					  <p class="error-p" ng-show="memberUpdateForm.email.$invalid && (!memberUpdateForm.email.$pristine || memberUpdateForm.$submitted) && !memberUpdateForm.email.$error.required">Email Is Not Valid</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.email_visibiity=0" ng-model="userdata.email_visibiity" name="email_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom">
						<input type="tel" placeholder="Phone" ng-model="userdata.phone" name="phone" ng-minlength="8" ng-pattern="/^[0-9]{1,15}$/" required>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.phone.$error.required && (!memberUpdateForm.phone.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					  <p class="error-p" ng-show="memberUpdateForm.phone.$error.minlength && (!memberUpdateForm.phone.$pristine || memberUpdateForm.$submitted)">Min 8 Characters Is Required</p>
					  <p class="error-p" ng-show="memberUpdateForm.phone.$error.pattern && (!memberUpdateForm.phone.$pristine || memberUpdateForm.$submitted) && !memberUpdateForm.phone.$error.minlength">Phone Number Is Invalid</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.phone_visibiity=0" ng-model="userdata.phone_visibiity" name="phone_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <ionic-datepicker date="dateofbirth" callback="Callbackdateofbirth">
						<label class="item item-input item-custom">
							<input type="text" placeholder="DOB" ng-model="userdata.dateofbirth" name="dateofbirth" ng-maxlength="15" required>
						</label>
					  </ionic-datepicker>
					  <p class="error-p" ng-show="memberUpdateForm.dateofbirth.$error.required && (!memberUpdateForm.dateofbirth.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.dateofbirth_visibiity=0" ng-model="userdata.dateofbirth_visibiity" name="dateofbirth_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom item-select">
						<div class="input-label">
						  Gender
						</div>
						<select ng-model="userdata.gender" name="gender" required>
						  <option value="" >Select</option>
						  <option value="male" >Male</option>
						  <option value="female">Female</option>
						  <option value="other">Other</option>
						</select>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.gender.$error.required && (!memberUpdateForm.gender.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.gender_visibiity=0" ng-model="userdata.gender_visibiity" name="gender_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom item-select">
						<div class="input-label">
						   Country
						</div>
						<select ng-model="userdata.country" name="country" required ng-change="countryChanged();">
						  <option value="" >Select</option>
						  <option ng-repeat="countryname in country_arr" value="{{ countryname }}" >{{ countryname }}</option>
						</select>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.country.$error.required && (!memberUpdateForm.country.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.country_visibiity=1" ng-model="userdata.country_visibiity" name="country_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom item-select">
						<div class="input-label">
						   State
						</div>
						<select ng-model="userdata.state" name="state" ng-options="filteredstate as filteredstate for filteredstate in filteredstates " required>
						  <option value="" selected>Select</option>
						  <!--<option ng-repeat="filteredstate in filteredstates" ng-selected="filteredstates[0]" value="{{ filteredstate }}" >{{ filteredstate }}</option>-->
						</select>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.state.$error.required && (!memberUpdateForm.state.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.state_visibiity=1" ng-model="userdata.state_visibiity" name="state_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom">
						<input type="text" placeholder="City" ng-model="userdata.city" name="city" ng-maxlength="15" required>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.city.$error.required && (!memberUpdateForm.city.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.city_visibiity=1" ng-model="userdata.city_visibiity" name="city_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
				<!-- Input -->
				<div class="row">
					<div class="col col-75">
					  <label class="item item-input item-custom">
						<input type="text" placeholder="Pincode" ng-model="userdata.pincode" name="pincode" ng-maxlength="6" required>
					  </label>
					  <p class="error-p" ng-show="memberUpdateForm.pincode.$error.required && (!memberUpdateForm.pincode.$pristine || memberUpdateForm.$submitted)">This Field Is Required</p>
					  <p class="error-p" ng-show="memberUpdateForm.pincode.$error.maxlength && (!memberUpdateForm.pincode.$pristine || memberUpdateForm.$submitted)">Cannot Longer Than 6 Characters</p>
					</div>
					<div class="col col-25 text-center">
						<label class="toggle toggle-balanced toggle-custom" style="margin:0px">
						   <input type="checkbox" ng-init="userdata.pincode_visibiity=1" ng-model="userdata.pincode_visibiity" name="pincode_visibiity" ng-true-value="1" ng-false-value="0">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
				<!--/ Input -->
			</div>
			<div class="row">
				<div class="col col-100 text-center">
					<button class="button button-custom button-block" style="margin:0px">
						Update
					</button>
				</div>
			</div>
		</form>
    </ion-content>
</ion-view>
