<ion-view view-title="Share To Your Friends">
    <ion-content>
		<div class="row">
		  <div class="col col-100 overlay-light text-center" style="border: 1px solid rgba(0,0,0,0.5);">
			<h4 class="text-gold" style="margin:0px">Go Social With Us</h4>
		  </div>
		</div>
		<div class="row text-center" style="margin-top:20px;">
		  <div class="col col-25 text-white">
			<img src="./img/siteimgs/1487081862_square-facebook.png" style="width:60%">
		  </div>
		  <div class="col col-25 text-white">
			<img src="./img/siteimgs/1487081871_square-twitter.png" style="width:60%">
		  </div>
		  <div class="col col-25 text-white">
			<img src="./img/siteimgs/1487081881_square-google-plus.png" style="width:60%">
		  </div>
		  <div class="col col-25 text-white">
			<img src="./img/siteimgs/1487081749_instagram.png" style="width:60%">
		  </div>
		</div>
    </ion-content>
</ion-view>
